 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        user-select: none;
      }
      body {
        background-color: #151515;
        color: #585858;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100vw;
        font-family: "Poppins", sans-serif;
      }
      .box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50vh;
        width: 20vw;
        padding: 50px 0px;
      }
      .name {
        font-size: 2rem;
        font-weight: bold;
      }
      .count {
        font-size: 8rem;
        font-weight: bold;
        color: #c93333;
      }
      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #505050;
        cursor: pointer;
        font-size: 2rem;
      }
      .minus {
        font-weight: bold;
        padding: 1px 15px;
        border-color: #242424;
        border-width: 1px;
        border-style: solid;
      }
      .reset {
        font-weight: bold;
        padding: 1px 15px;
        border-color: #242424;
        border-width: 1px;
        border-style: solid;
      }
      .plus {
        font-weight: bold;
        padding: 1px 15px;
        border-color: #242424;
        border-width: 1px;
        border-style: solid;
      }